body{
  background-color: #82818121 !important;
}

.img-style{
  height: 70px;
  width:30%
}
header{
  background-color: #fff;
  box-shadow: 0 -5px 12px 0px;
  margin: -9px;
}
*{
  font-family: fangsong;
}
.span1-style{
  margin: -18px;
}
.span2-style{
  color:#dc3545;
  text-decoration: underline;
}
.span3-style{
  color:#dc3545;
  font-size: 14px;
}
main {
  min-height: 80vh;
}

.active-div1{
  margin-top: 5rem;
  background-color: #fff;
  box-shadow: 0 0px 3px 0px;
  /* height: 470px; */
}

.uploadata-div1{
  margin-top: 3rem;
  margin-left: 2rem;
}
/* 
footer{
  background-color: #fff;
  box-shadow: 0 -5px 12px 0px;
} */

.questionStyle{
  margin-top: 35px;
  font-size: 1.6rem;
}